*.mat
*.bak
*.FCBak
*.cache/
*.sim/
*.hw/
*.asv
*.runs/
*.ip_user_files/
*.gen/
*.exe
*.zip
*.jou
*.log
*.npy
__pycache__/
**/.[Xx]il/
/SW/__pycache__
/FPGA/ISP/working_vivado2023p1/
/FPGA/ISP/HDL_copy/
~$*
/FPGA/ISP/___HDL/
/FPGA/ISP/SW/build
/FPGA/ISP/SW/dist
*.wdb
/ref/spdif/spdif_test/spdif_test.sim/sim_1/behav/xsim/*.wdb
